body {
    background-color:rgb(92, 85, 85);
    color:black;
    padding: 2% 4%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    height:calc(100vw - 100vh);
    overflow:hidden;
    overflow-y:auto;
    gap:calc(.8vh + .8vw);
     .el {
        width:70vw;
        height: calc(11vh + 4vw);
        border-radius:1.6px;
        background-color:#3c3c3c;
        color:white;
        padding:2% 3%;
        font-weight:600;
        font-family:sans-serif;
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
     }
     .el.s {
        width:32.05vw;
        max-width:70vw;
     }
     .el.ss {
        width:calc(19vw + .25vh);
     }
     h1.el {
        font-size:calc(5.5vw + 1.05vh);
        height: calc(5.5vh + 4.9vw);
        zoom:0.9;
     }
     .br {
        flex-basis:100%;
        height:0;
        margin:0;
     }
     #last {
        margin-top:2vh;
        width:100vw;
        height:20px;
     }
}
.btn {
    position:fixed;
    bottom:10vh;
    right:6vw;
    padding:15px;
    border-radius:1.4px;
    background-color:#3c3c3c;
    color:rgb(234, 204, 10);
    font-weight:600;
    font-family:sans-serif;
    cursor:pointer;
    box-shadow:1px 2px 1px 3px rgb(74, 71, 71);
}
.hidden {
    display:none;
}